@charset "utf-8";

/* account start */
.row {
  display: flex;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
}

.form-inline .form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
  padding: 0.375rem 0.6rem;
}

.mw-180 {
  min-width: 180px !important;
}

.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}

.search_wrap .fa-search + .form-control {
  padding-left: 28px;
  padding-right: 28px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.search_wrap {
  padding: 0;
  height: 35px;
  width: auto;
  max-width: 296px;
}

.search_wrap .fa-search {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 5;
  background-color: transparent;
  color: #bdc2c9;
  font-size: 15px;
}
.search_wrap .search_cancel {
  position: absolute;
  top: 10px;
  right: 60px;
  z-index: 5;
  cursor: pointer;
  color: #787e86;
}

.input-group .btn:last-of-type {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-primary {
  background-color: #9d62bf;
  border-color: #9d62bf;
}

.btn-primary:not(:disabled):focus,
.btn-primary:not(:disabled).focus,
.btn-primary:not(:disabled):hover,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #5b2876;
  border-color: #5b2876;
}

.table_wrap {
  min-height: 550px;
}

.table {
  font-size: 0.85rem;
  text-align: center;
  background: #fff;
  border-bottom: 1px solid #e9ecef;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
}
.table thead th {
  height: 50px;
  padding: 5px;
  border-top: 1px solid #dfe2e6;
  border-bottom: 2px solid #dfe2e6;
  color: #84757d;
  font-size: 1.1em;
  line-height: 1.4;
  text-align: center;
  vertical-align: middle;
  background: #f7f8fb;
}
.table th + th {
  border-left: 1px solid #dfe2e6;
}
.table tbody tr:nth-of-type(odd),
.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fff;
}
.table td {
  height: 50px;
  padding: 5px;
}
.table th,
.table td {
  vertical-align: middle;
}
.table th,
.table td {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}
.table tbody tr:nth-of-type(even),
.table-striped tbody tr:nth-of-type(even) {
  background-color: #f8f9fa;
}
.table:not(.non-hoverable) tbody tr:hover {
  color: #4280ff;
}
/* account end */

/* login start */
.wrapper,
.login_wrap {
  height: 100%;
}
.login_box {
  width: 1200px;
  height: 620px;
}
.login_box__title {
  position: relative;
  background: url(../img//login_title_bg.jpg) repeat-x left top;
  width: 700px;
  height: 100%;
  padding: 39px 0 42px 31px;
}
.login_box__title .adtive_logo {
  background: url(../img/ssp_logo.png) no-repeat center center / auto;
  width: 129px;
  height: 44px;
  margin-bottom: 144px;
  text-indent: -9999px;
}
.login_box__title h1 {
  color: #fff;
  font-size: 31px;
  margin-bottom: 14px;
}
.login_box__title > p {
  color: #848a92;
  font-size: 12px;
}
.login_box__title .copyright {
  position: absolute;
  left: 50%;
  bottom: 31px;
  transform: translate(-50%);
  color: #dadada;
  font-size: 10px;
  font-style: italic;
}
.login_box__form {
  background: #fff;
  width: 500px;
  height: 100%;
  padding-top: 104px;
}
.login_box__form form {
  width: 100%;
  height: 100%;
}
.login_box__form form > h2 {
  margin-bottom: 70px;
  text-align: center;
}
.text-primary {
  color: #9d62bf !important;
  font-size: 2rem;
}
.login_box__form form > .form_wrap {
  padding: 0 30px;
}
.form-group {
  margin-bottom: 1rem;
}
.form_wrap .com_box .input_tit {
  display: block;
  color: #363a40;
  margin-bottom: 7px;
}
.form_wrap .pass_box {
  margin-bottom: 60px;
}
.form_wrap button {
  width: 100%;
}
/* login end */
